.idea/
.vscode/
*pyc
/static/
/dependencies/
/webapp/build/
/webapp/node_modules/
/webapp/geppetto-client/
.DS_Store
*.egg-info/
*.nwb
.ipynb_checkpoints
*.log
holoviews_plots
workspace
test_data
*.ipynb
.pytest_cache
.tox
tox.ini
.coverage
/src
geppetto-client
/lib
/bin
/nwb-explorer
pyvenv.cfg
.jupyter-config
