jupyter_geppetto==1.1.5
jupyter-client==7.0.6
jupyter-core==4.9.1
jupyterhub==1.5.0
jupyterthemes==0.20.0
pynwb==2.8.3
nwbwidgets==0.11.3
nwbinspector==0.6.0
quantities
pyecore==0.13.2
# from nwbwidgets
botocore==1.35.35
etelemetry==0.3.0
dandischema==0.10.3
numpy
matplotlib
scikit-image
ipympl
ipydatagrid
ipyvolume==0.6.2
# ipywidgets>=8.0.0
plotly==5.13.1
tqdm>=4.36.0
zarr
tifffile
ndx-spectrum
ndx-icephys-meta
ndx-grayscalevolume
trimesh
dandi>=0.55.0
importlib-metadata <5.0
fsspec
requests
aiohttp
# ipydatawidgets==4.3.2
ipyfilechooser==0.6.0