@primary_color: white;
@secondary_color: #d0c8f3;
@background_color_body_0: #212121;
@background_color_body_50: #212121;
@background_color_body_73: #212121;
@background_color_body_100: #212121;
@background_color_widget: #434343;

@box_color: #434343;