
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400&display=swap");


:root {
  --primary-color: #d17128;
  --secondary-color: #434343;
  --button-outline-color: #AEAEAE;
  --input-border-color: #A8A5A5;
  --collapsible-heading: #ADADAD;
  --bg-lighter: #616161;
  --bg-light: #4a4a4a;
  --bg-regular: #3c3c3c;
  --bg-dark: #3c3c3c;
  --bg-darker: #323232;
  --bg-darkest: #2c2c2c;
  --bg-inputs: #727272;
  --list-panel-result: #E5E5E5;
  --text-color: #fff;
  --font-color: #fff;
  --color-link: #b9c680;
  --white: #fff;
  --radius: 5px;
  --gutter: 16px;
  --font: "Roboto", sans-serif;
  --panel-radius: 4px;
  --font-size-panels: 15px;
  --font-size-panels-tab: 16px;
  --font-weight-content: 300;
  --font-weight-label: 400;
  --box-color: #434343;
  --backckground-color-body-0: #323232;
  --background-color-body-50: #323232;
  --background-color-body: #323232;
}

html,
body {
  font-family: var(--font);
  overflow: auto;
  background: var(--bg-darker);
}

.h-100 {
  height: 100%;
}
.p-0 {
  padding: 0;
}
.m-0 {
  margin: 0 !important;
}
.font-16 {
  font-size: 16px !important;
}
#simple-popper {
  z-index: 1500;
  .menu-caret {
    position: absolute;
    right: 10px;
    top: 12px;
  }
}
.input-label {
  display: inline-block;
  margin-bottom: -8px !important;
}
.list-container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  background: var(--bg-dark);
  padding: 8px 9px 5px 6px;
  border-radius: 4px;
}
.splash-background {
  background: url(../resources/splash_new.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  .logo-container {
    padding: 18px 21px 19px 17px;
    margin: auto 0 20px auto;
    .logo {
      height: 55px;
      display: inherit;
      img {
        height: 100%;
      }
    }
  }
}
.brand-logo {
  height: 52px;
  margin: 57px 0 107px;
}
.grey-box {
  background: var(--bg-dark);
  padding: 25px 23px;
  margin-bottom: 30px;
  overflow-y: auto;
  &.first {
    padding: 27px 24px 28px 18px;
  }
}

.input-with-button {
  .input-form-control {
    width: calc(100% - 170px);
    input {
      font-size: 16px;
      padding-bottom: 8px;
      color: var(--white);
    }
  }
}
#splash {
  .badge-button {
    border: 1px solid var(--button-outline-color);
    border-radius: 16px;
    font-size: 13px;
    line-height: 13px;
    font-weight: 400;
    margin-bottom: 0;
    white-space: nowrap;
  }
}
.splash-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 68px;
  .MuiBox-root {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.2);
    margin-bottom: 19px;
  }
  .MuiLink-root {
    margin-right: 22px;
    position: relative;
    + .MuiLink-root {
      margin-left: 22px;
      &::after {
        content: "";
        height: 35px;
        width: 1px;
        border: 1px solid rgba(102, 102, 102, 0.5);
        position: absolute;
        left: -22px;
        top: -7px;
      }
    }
  }
  img {
    opacity: 0.5;
  }
}

  ::-webkit-scrollbar-thumb {
    background: var(--white);
    border-radius: var(--panel-radius);
  }
  ::-webkit-scrollbar {
    width: 3px;
  }

.custom-select {
  position: relative;
  display: inline-flex;
  margin-right: 0.5em;
  .MuiSelect-icon {
    color: var(--white);
  }
  .MuiOutlinedInput-root {
    border-radius: 16px;
    &:hover {
      .MuiOutlinedInput-notchedOutline {
        border-color: rgba(0, 0, 0, 0.23);
      }
    }
    &.Mui-focused {
      .MuiOutlinedInput-notchedOutline {
        border-color: rgba(0, 0, 0, 0.23);
        border-width: 1px;
      }
    }
  }
  .MuiSelect-select {
    min-height: 29px;
    min-width: 130px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 13px;
    color: var(--button-outline-color);
    line-height: 29px;
  }
}
.MuiInput-underline:before {
  border-color: var(--input-border-color) !important;
}

#mainContainer {
  color: white;
}

sup {
  font-size: 50%;
  top: -0.8em;
}

#logo {
  background-image: url("images/nwbExplorer.png");
  width: 300px;
  height: 76px;
}

.toolbar-gutters {
  padding: 0 !important;
}

div.icon-container {
  margin: 0 -var(--icon-padding);
}

.contextMenuView {
  color: var(--primary-color);
  li {
    border-color: var(--primary-color) !important;
  }

  li:hover {
    color: var(--background-color-widget);
  }
}

iframe {
  border: 0;
  body {
    background-color: transparent !important;
  }
}

.flex-filler {
  flex: 2;
  margin-bottom: 0;
}
div.flexlayout__layout {
  position: relative;
  height: 100%;
  --color-tabset-background: transparent;
  --color-splitter: transparent;
  --color-tabset-background-selected: transparent;
  --color-tabset-background-maximized: transparent;
  margin-bottom: 40px;
  padding: 8px !important;

  flex: 1;
  a {
    color: var(--color-link);
    text-decoration: none;
  }
  .flexlayout__tab {
    padding: 1em 0.5em;
    background-color: var(--box-color);
    border-top-right-radius: var(--panel-radius);
    border-bottom-right-radius: var(--panel-radius);
    border-bottom-left-radius: var(--panel-radius);

    .svg-container,
    .main-svg,
    .plot-container {
      width: 100% !important;
      height: 100% !important;
    }

    input,
    button {
      .input {
        width: 100%;
      }
      width: 100%;
    }

    #pythonConsoleFrame {
      height: 100%;
      width: 100%;
      border: 0;
      overflow: auto;
    }
  }

  .flexlayout__tabset {
    background-color: transparent;
    overflow: visible;
    border-radius: 0px var(--panel-radius) var(--panel-radius) var(--panel-radius);
  }

  .flexlayout__tabset-selected {
    background-image: none;
  }

  .flexlayout__tabset_tabbar_inner_tab_container{
    position: relative;
    width: auto;
    padding: 0;
  }

  .flexlayout__border_inner_bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 8px;
    border-top-right-radius: var(--panel-radius);
    border-top-left-radius: var(--panel-radius);
  }

  .flexlayout__tab_button--selected {
    background-color: var(--box-color);
    border-top-right-radius: var(--panel-radius);
    border-top-left-radius: var(--panel-radius);
    color: white;
    margin-right: 2px;
    .flexlayout__tab_button_content {
      color: var(--primary-color);
    }
  }

  .flexlayout__tab_button_leading {
    display: none;
  }


  .flexlayout__tabset_tabbar_outer_top {
    border: none;
    padding: 0;
  }

  
  .flexlayout__tab_button_content, .flexlayout__tab_button_trailing {
    svg, img {
      display: none !important;
    }
  }

  .flexlayout__tab_button--unselected {
    background-color: var(--bg-darkest);
    border-top-right-radius: var(--panel-radius);
    border-top-left-radius: var(--panel-radius);
  }

  .flexlayout__border_bottom {
    overflow: visible;
    border: none;
    border-top-right-radius: var(--panel-radius);
    border-top-left-radius: var(--panel-radius);
  }

  .flexlayout__border_button {
    .flexlayout__border_button_content {
      font-family: var(--font);
      color: var(--secondary-color);

      font-size: var(--font-size-panels);
    }
    border: none;
    margin: 0;
    margin-right: 3px;
    border-top-right-radius: var(--panel-radius);
    border-top-left-radius: var(--panel-radius);
    background-color: var(--box-color);
  }

  .flexlayout__tab_button_content {
    color: var(--secondary-color);
    font-family: var(--font);
    font-size: var(--font-size-panels-tab);
    margin-top: 0;
    padding: 0;
    font-weight: normal;
    color: #b9b9b9;
  }


  .flexlayout__border_button_trailing,
  .flexlayout__tab_button_trailing,
  .flexlayout__tab_toolbar_button-max,
  .customIconFlexLayout,
  .flexlayout__tab_toolbar_button-min,
  .flexlayout__tab_button_overflow {
    color: white;

    &:hover {
      color: white;
    }
  }

  .flexlayout__border_button_trailing,
  .flexlayout__tab_button_trailing {
    font-size: 14px;
    &:before {
      content: "\00d7";
    }
  }

  .flexlayout__splitter:hover {
    background-color: inherit;
  }
  .flexlayout__splitter {
    border-radius: 10px;
  }
  .flexlayout__splitter_drag {
    border: 1px solid white;
  }
  .flexlayout__popup_menu_item {
    color: white;
    background-color: var(--box-color);
  }
}

#main-header {
  text-align: right;
  width: 100%;
  h1 {
    margin: 0;
  }
  p {
    margin: 0;
  }
}
.listviewer {
  font-size: var(--font-size-panels);
  border-radius: var(--panel-radius);
  .griddle-table-heading {
    border-bottom-color: transparent;
    background: var(--bg-dark);
  }
  td,
  th {
    font-size: var(--font-size-panels);
  }

  td {
    font-weight: var(--font-weight-label);
  }
  
  td:first-of-type {
    display: flex;
    align-items: center;
  }
  th {
    font-weight: var(--font-weight-label);
    color: var(--collapsible-heading);
    height: 40px;
    border-bottom: 0 !important;
  }
  .list-icon{
    font-size: 20px;
    width: auto !important;
    padding: 0.2rem 0;
    svg{
      width: 28px !important;
      height: 20px !important;
    }
    span{
      display: inline-block;
    }
  }
}

.list-summary {
  display: flex;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: var(--font-size-panels);
  justify-content: flex-start;
  color: var(--list-panel-result);
  i {
    font-weight: 300;
    font-style: italic;
  }
  a {
    color: var(--white);
    opacity: 0.3;
    cursor: pointer;
    margin-right: 15px;
    svg{
      width: 28px !important;
      height: 20px !important;
    }
  }
}

.listviewer-container {
  flex: 2;
  position: relative;
  .griddle-noResults{
    width: 100%;
    text-align: center;
  }
  .griddle-filter{
    color: var(--white);
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    border-color: transparent;
    box-shadow: none;
    z-index: 1;
    margin: 8px 9px 0 auto;
    border-radius: 4px;
    width: 200px !important;
    padding-right: 35px;
    background: var(--bg-light) url(../resources/search.png) no-repeat 95% center;
    background-size: 8%;
    margin-bottom: 0 !important;
  }
  > div{
    width: 100%;
    overflow-y: auto !important;
    border-radius: var(--panel-radius);
    background: var(--bg-light);
  }
}
#mainContainer,
#mainContainer > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #333333;
}

#loadingText > object {
  width: 10vw;
  height: auto;
}
#main-container-inner {
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.center-filler {
  max-height: 80%;
}

.slide-image {
  overflow: hidden;
  max-height: 100%;
  border-radius: var(--panel-radius);
}

.font-small {
  font-size: 0.8em;
}
.font-medium {
  font-size: 1em;
}
.font-large {
  font-size: 2em;
}

#nwb-footer {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  color: #ccc;
  font-size: 0.9em;

  .footer-aligned-container {
    margin: 0 -1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    a {
      color: white;

      &:hover {
        text-decoration: none;
        color: var(--primary-color);
      }
    }
    .footer-aligned {
      padding: 1rem 1rem;

      img {
        height: 1.5em;
        width: auto;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
}
.hidden {
  display: none;
}
.aligned-form-elements-wrapper {
  display: flex;
  align-items: stretch;
}
.aligned-form-element {
  &.input {
    flex: 3;
    padding-right: 1em;
  }
  &.button {
    flex: 1;
  }
}

.popup-text {
  color: black !important;
}
.fa:hover {
  color: white;
}

/* // Plotly */
.xtitle {
  fill: white !important;
}
.ytitle {
  fill: white !important;
}
.xtick > text {
  fill: white !important;
}
.ytick > text {
  fill: white !important;
}

/* // Collapsible */
.Collapsible {
  background-color: transparent;
  margin-bottom: 18px;
  .Collapsible__contentInner {
    padding: 0;
    border-top: 0;
    font-size: var(--font-size-panels);
    line-height: 20px;

    color: #fff;
    margin-top: 0.1em;
    font-weight: var(--font-weight-label);
    letter-spacing: 0.16px;
    padding-right: 25px;

    p {
      margin-bottom: 0.1em;
      font-size: var(--font-size-panels);
      line-height: 1.3em;
      text-align: left;
      font-weight: var(--font-weight-label);
    }

    .meta-label {
      font-weight: var(--font-weight-label);
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
  .Collapsible__trigger {
    margin-left: -2px;
    display: block;
    color: var(--collapsible-heading) !important;
    text-transform: capitalize;
    font-weight: var(--font-weight-content);
    font-size: var(--font-size-panels);
    font-style: italic;
    position: relative;
    padding: 2px;
    background: transparent;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 7px 0 7px;
      border-color: rgba(173, 173, 173, 0.5) transparent transparent transparent;
      position: absolute;
      right: 10px;
      top: 8px;
      display: block;
      transition: transform 300ms;
    }

    &.is-open:after {
      transform: rotateZ(180deg);
      color: #cccccc !important;
    }
  }
}


.tabButton {
  color: white !important;
  border-top-left-radius: var(--panel-radius);
  border-top-right-radius: var(--panel-radius);
  background-color: var(--box-color);

  &:hover {
    opacity: 0.9;
  }

  &.selectedTab {
    border-top-left-radius: var(--panel-radius);
    border-top-right-radius: var(--panel-radius);
    color: white;
    border: white solid 1px;
    background-color: var(--background-color-widget);
  }
}
.MuiToolbar-dense{
  min-height: 36px !important;
}

.modal-title{
  h2,
  .MuiTypography-h6{
    font-size: 19px;
    font-weight: 500;
    line-height: 1.6;
    color: var(--white);
    margin-bottom: 0;
  }
}
.modal-content {
  background-color: rgba(66, 66, 66, 0.9) !important;
}
#infomodal-btn {
  background-color: rgba(66, 66, 66, 0.9) !important;
}
#infomodal-btn:hover {
  background-color: rgba(66, 66, 66, 0.9) !important;
}
.fa:hover {
  opacity: 0.9;
}
.minIcons {
  color: black;
}
.maxIcons {
  color: black;
}
.closeIcons {
  color: black;
}

#commandInputArea {
  color: black;
}

.griddle-cell{
  div {
    display: inline-block;
  }
}

.imgBtn {
  font-size: large !important;
  color: var(--font-size-panels);
}
.imgBtn:hover {
  opacity: 1;
}

.gpt-addplot:hover {
  opacity: 0.9;
}
.gpt-addplot:before {
  vertical-align: -5px;
  font-size: 23px;
}

.left-bordered-container {
  border-left: 2px solid #727272;
  padding-left: 0.5em;
}

.Component-container-24 {
  margin-bottom: 40px;
}